.sun{
    display:flex;
    
    gap:400px;
}
.sun1{
    font-size: 26px;
    font-weight:bold; 
    margin-right: -50px;
    background-color:lightblue;
    margin-left: 100px;;
}

.sun2{
    font-size: 28px; 
    font-weight:bold;
    background-color:lightblue; 
}

.sun5{
    display:flex;
    /* margin-left: 700px; */
    gap:430px;
    
    
}
.sun3{
    font-size: 24px; 
    font-weight:bold; 
    background-color:lightblue;
    margin-left: 100px;
   
}

.sun4{
    font-size: 24px; 
    font-weight:bold; 
    background-color:lightblue;
   margin-right: 190px;
}

