.sun{
    display: flex;
    font-weight:bold; 
    gap: 280px; 
    margin-left: 90px;;
    font-size: 26px;
}
.sun111{
    background-color: #007ced;
    background: linear-gradient(to bottom, #007ced 0%,#cce7ff 100%);
    width: 500px;

} 
.sun112{
    background-color: #b7d4ef;
    background: linear-gradient(to bottom, #007ced 6%,#cce7ff 100%);
    width: 500px;
    margin-right: 230px;
} 
.sun10{
    display: flex;
    font-weight:bold; 
    gap: 370px; 
    margin-top: 50px;
    margin-left: 90px;;
    font-size: 26px;
}
.sun31{
    font-size: 21px;

}
.sun41{
    margin-left: 40px;
}


/* .sun{
    display:flex;
    /* gap:400px; */
    /* font-size: 26px;
    font-weight:bold; 
    margin-right: -50px;
    margin-left: 90px;;
    display: flex;
    gap: 400px; 
    font-size: 26px;
    line-height: 18.4px;
    
}
.sun10{
    display:flex;
    gap:270px;
    font-size: 26px;
    font-weight:bold; 
    margin-right: -50px;
    margin-left: 90px;;
}
.sun111{
    background-color: #007ced;
    background: linear-gradient(to bottom, #007ced 1%,#cce7ff 100%);
    width:100%;
   
} */ 

/* .sun1{
    font-size: 26px;
    font-weight:bold; 
    margin-right: -50px;
    background-color:lightblue;
    margin-left: 100px;;
}

.sun2{
    font-size: 28px; 
    font-weight:bold;
    background-color:lightblue; 
}

.sun5{
    display:flex;
   
    gap:430px;
    
    
}
.sun3{
    font-size: 24px; 
    font-weight:bold; 
    background-color:lightblue;
    margin-left: 100px;
   
}

.sun4{
    font-size: 24px; 
    font-weight:bold; 
    background-color:lightblue;
   margin-right: 190px;
}
 */
